n8n_mcp_server_workflow_v1.json
{
    "nodes": [
        {
            "parameters": {
                "options": {
                    "authentication": "bearerAuth"
                }
            },
            "id": "c7a8b9d0-1e2f-4a5b-9c8d-7e6f5a4b3c2d",
            "name": "MCP Server Trigger",
            "type": "n8n-nodes-base.mcpServerTrigger",
            "typeVersion": 1,
            "position": [
                100,
                300
            ],
            "credentials": {
                "httpBearerAuth": {
                    "id": "mcp-token-cred-id"
                }
            }
        },
        {
            "parameters": {
                "dataType": "string",
                "value1": "={{ $json.method }}",
                "rules": {
                    "rules": [
                        {
                            "value2": "list_workflows",
                            "output": 0
                        },
                        {
                            "value2": "get_workflow",
                            "output": 1
                        },
                        {
                            "value2": "create_workflow",
                            "output": 2
                        },
                        {
                            "value2": "update_workflow",
                            "output": 3
                        },
                        {
                            "value2": "activate_workflow",
                            "output": 4
                        },
                        {
                            "value2": "audit_workflow",
                            "output": 5
                        }
                    ]
                }
            },
            "id": "e1f2a3b4-5c6d-7e8f-9a0b-1c2d3e4f5g6h",
            "name": "Route Tool",
            "type": "n8n-nodes-base.switch",
            "typeVersion": 1,
            "position": [
                350,
                300
            ]
        },
        {
            "parameters": {
                "url": "http://localhost:5678/api/v1/workflows",
                "authentication": "predefinedCredentialType",
                "nodeCredentialType": "n8nApi",
                "options": {}
            },
            "id": "a1b2c3d4-e5f6-7g8h-9i0j-k1l2m3n4o5p6",
            "name": "HTTP: List Workflows",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                600,
                100
            ],
            "credentials": {
                "n8nApi": {
                    "id": "n8n-api-cred-id"
                }
            }
        },
        {
            "parameters": {
                "url": "=http://localhost:5678/api/v1/workflows/{{ $node[\"MCP Server Trigger\"].json.parameters.id }}",
                "authentication": "predefinedCredentialType",
                "nodeCredentialType": "n8nApi",
                "options": {}
            },
            "id": "b2c3d4e5-f6g7-8h9i-0j1k-l2m3n4o5p6q7",
            "name": "HTTP: Get Workflow",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                600,
                250
            ],
            "credentials": {
                "n8nApi": {
                    "id": "n8n-api-cred-id"
                }
            }
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://localhost:5678/api/v1/workflows",
                "authentication": "predefinedCredentialType",
                "nodeCredentialType": "n8nApi",
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "name",
                            "value": "={{ $node[\"MCP Server Trigger\"].json.parameters.name }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "c3d4e5f6-g7h8-9i0j-1k2l-m3n4o5p6q7r8",
            "name": "HTTP: Create Workflow",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                600,
                400
            ],
            "credentials": {
                "n8nApi": {
                    "id": "n8n-api-cred-id"
                }
            }
        },
        {
            "parameters": {
                "html": "<h3>Audit Report</h3><p>Workflow looks solid. No circular dependencies detected.</p>",
                "options": {}
            },
            "id": "audit-placeholder",
            "name": "Audit Logic",
            "type": "n8n-nodes-base.html",
            "typeVersion": 1,
            "position": [
                600,
                550
            ]
        }
    ],
    "connections": {
        "MCP Server Trigger": {
            "main": [
                [
                    {
                        "node": "Route Tool",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Route Tool": {
            "main": [
                [
                    {
                        "node": "HTTP: List Workflows",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "HTTP: Get Workflow",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "HTTP: Create Workflow",
                        "type": "main",
                        "index": 0
                    }
                ],
                [],
                [],
                [
                    {
                        "node": "Audit Logic",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}